@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli.eot');
  src: url('fonts/Muli.eot') format('embedded-opentype'),
	  url('fonts/Muli.woff2') format('woff2'),
	  url('fonts/Muli.woff') format('woff'),
	  url('fonts/Muli.ttf') format('truetype'),
	  url('fonts/Muli.svg#Muli') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('fonts/MuliBold.eot');
  src: url('fonts/MuliBold.eot') format('embedded-opentype'),
	  url('fonts/MuliBold.woff2') format('woff2'),
	  url('fonts/MuliBold.woff') format('woff'),
	  url('fonts/MuliBold.ttf') format('truetype'),
	  url('fonts/MuliBold.svg#MuliBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('fonts/MuliItalic.eot');
  src: url('fonts/MuliItalic.eot') format('embedded-opentype'),
	  url('fonts/MuliItalic.woff2') format('woff2'),
	  url('fonts/MuliItalic.woff') format('woff'),
	  url('fonts/MuliItalic.ttf') format('truetype'),
	  url('fonts/MuliItalic.svg#MuliItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('fonts/MuliLight.eot');
  src: url('fonts/MuliLight.eot') format('embedded-opentype'),
	  url('fonts/MuliLight.woff2') format('woff2'),
	  url('fonts/MuliLight.woff') format('woff'),
	  url('fonts/MuliLight.ttf') format('truetype'),
	  url('fonts/MuliLight.svg#MuliLight') format('svg');
  font-weight: 100;
  font-style: normal;
}