.menu-open #nlDrawer-content:after {
  position: absolute;
  content: '';
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  transition: opacity 300ms ease-in-out;
  z-index: 5;
}
#nlDrawer{
  background: $background-color !important;
  /*background: rgba(28, 38, 46,0.8)!important;*/
}
#nlDrawer #nlTopbar.large, #nlDrawer .topbar.large{
  height: 130px;
  /*padding: 15px;*/
  border-bottom: 1px solid #d5d5d5;
  //background : linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9) ), url(../img/bg/street-park.png);
  /*background: -webkit-linear-gradient(325deg, #E53241, #d42130);
  background: linear-gradient(125deg, #E53241, #d42130);
  background-size: cover;*/
  background: $background-color;
}
#nlDrawer .topbar .gravatar{background-size: cover;background-position: center;background-repeat: no-repeat;}
#nlTopbar .gravatar, .topbar .gravatar {
  border-radius: 50%;
  bottom: 10px;
  height: 66px;
  overflow: hidden;
  position: absolute;
  left: 10px;
  width: 66px;
}
#nlDrawer .username {
  font-size: 16px;
  left: 76px;
  line-height: 28px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 13px;
  position: absolute;
  top: 45px;
  width: 75%;
  z-index: 1110;
}
#nlDrawer .item-complex, #nlDrawer a.item.item-complex, #nlDrawer button.item.item-complex{
  background: transparent !important;
  border: 0;
}
#nlDrawer .item-complex .item-content, #nlDrawer .item-radio .item-content{
  background: transparent !important;
  color: #333;
  font-weight: bold !important;
  padding: 0 0 0 12px;
  font-size: 1.1rem;
}
#nlDrawer .item-complex.active .item-content, #nlDrawer .item-radio.active .item-content{
  color: $main-color;
}
#nlDrawer .item-complex .item-content .icon, #nlDrawer .item-radio .item-content .icon{
  font-size: 30px;
}
#nlDrawer .menu-footer{position:absolute;bottom:0;width: 100%;background: rgba(255,255,255,0.05);}
#nlDrawer ion-item .col-center {
  font-size: 1rem;
}
#nlDrawer .menu-footer .row a{
  width: 100%;
  font-size: 2.5rem;
  color: #fff;
}
#nlDrawer .logout-icon:before{
  transform: rotate(90deg);
}
#nlDimm{
  background: rgba(0, 0, 0, 0.9) !important;
}

#nlTopbar, .topbar{
  /*background: $background;*/
  background: #e8e8e8;
  color: $dark;
}
#nlTopbar .title, .topbar .title{
  color: $dark;
  line-height: 50px;
  left: 0;
}

#nlBurger{font-size: 3rem !important;color:$energized;}