.parameters-view .item{
  background-color: transparent;
  border-color: #d4d4d4;
}

.parameters-notifications-view .item.item-divider{
  border: 0;
  background: transparent;
  border-bottom: 1px solid #f1611a;
  margin: 1px;
  font-size: 1.1rem;
  padding-bottom: 5px;
  margin-top: 15px;
}

.parameters-notifications-view .item.item-divider:first-child{
  margin-top: 0;
}

.parameters-notifications-view .item {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #d3d3d3;
}