/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

/* Custom colors */
$light: #ffffff !default;
$balanced: #00BBB4 !default;
$energized: #f1611a !default;
$dark: #1C262E !default;
$positive: #1EB74F !default;

/* Custom font sizes */
/*$font-size-base:  0.9rem !default;
$font-size-large: 1.2rem !default;
$font-size-small: 0.8rem !default;*/

@import "fonts";
$font-family-base: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif !default;
$base-color: #000;
$main-color: $energized;
$background-color : #e8e8e8;

$background: #e8e8e8;



// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "general";

@import "menu";

@import "login";
@import "street/je-cherche";
@import "street/modal";
@import "_profile";
@import "_parameters";

@import "maps/maps";
//@import "maps/marker-pin";
//@import "maps/marker-spot";
//@import "maps/map-marker";

@import "common/loader_logo";
@import "common/startup";
@import "browser";

