<ion-modal-view>
	<ion-header-bar class="bar-dark padding-0" style="background: transparent;">
		<div class="row padding-0" style="background: #fff;">
			<div class="col col-10 col-center">
				<button class="button button-dark button-clear" ng-click="closeModalRechercheAdresse()">
					<i class="icon ion-android-arrow-back"></i>
				</button>
			</div>
			<div class="col col-90 padding-0">
				<label class="item item-input padding-left-5 border-0 padding-0" style="height:100%;">
					<input type="text" class="padding-left-5" style="height: 100%;font-size:1rem;"
					       ng-model="searchQuery" ng-change="searchAdresse(searchQuery)" placeholder="Rechercher une adresse">
				</label>
			</div>
		</div>

	</ion-header-bar>
	<ion-content has-header="true" padding="true" style="background:transparent;top:56px;">
		<ion-list>
			<item class="item item-icon-left text-colored" style="font-size:0.9rem;" ng-click="selectMyLocation()">
				<i class="icon ion-ios-location-outline" style="font-size:1.6rem;"></i>
				Position actuelle
			</item>

			<item class="item item-divider" style="background-color:#e4e8ea;font-weight:600;">
				Résultats de recherche
				<ion-spinner ng-if="searchingAdresse" class="spinner-energized spinner-recherche-adresse"></ion-spinner>
			</item>

			<item class="item item-icon-left" ng-show="adressesRecentes.length && !locations.length" ng-repeat="location in adressesRecentes track by $index" ng-click="selectLocation(location)" style="font-size:0.9rem;">
				<i class="icon ion-ios-clock-outline" style="font-size: 1.6rem;"></i> {{location.description}}&nbsp;
			</item>

			<item class="item item-icon-left" ng-repeat="location in locations" ng-click="selectLocation(location)" style="font-size:0.9rem;">
				<i class="icon ion-ios-location-outline" style="font-size: 1.6rem;"></i> {{location.description}}&nbsp;
			</item>

		</ion-list>
	</ion-content>
</ion-modal-view>
