<ion-modal-view class="modal-popup">
	<ion-content has-header="false" padding="false" scroll="false">
		<div class="row">
			<div class="modal-title col col-center text-center">Emplacement Validé</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="modal-avatar" ng-style="{'background-image':'url('+(reservationEnCours.spot.user.avatar | avatar)+')', 'background-size':'cover', 'background-position': 'center center'}"></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col modal-username text-center">
						{{reservationEnCours.spot.user.display_name}}
					</div>
				</div>
				<div class="row">
					<div class="col text-center ng-binding">
						<ionic-ratings ratingsobj="reservationEnCours.userRating" class="modal-ion-ratings"></ionic-ratings> {{reservationEnCours.spot.user.street_nb_etoiles}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="modal-separator col col-60 col-offset-20"></div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="modal-car-title">Voiture</div>
				<div class="modal-car-name">{{reservationEnCours.spot.user.voitures[0].marque | uppercase}} {{reservationEnCours.spot.user.voitures[0].modele}}</div>
				<div>{{reservationEnCours.spot.user.voitures[0].couleur | formatColor}}</div>
			</div>
		</div>
		<div class="row">
			<div class="modal-separator col col-60 col-offset-20"></div>
		</div>
		<div class="row">
			<div class="col col-center text-center ng-binding">
				Vous pouvez aller vous garer près de :<br>
				{{reservationEnCours.spot.adresse}}
			</div>
		</div>
	</ion-content>
	<div class="row modalTwoButtons">
		<div class="col">
			<button class="buttonTwo button button-dark" ng-click="modalAcceptation.hide()">
				OK
			</button>
		</div>
		<div class="col">
			<button class="buttonTwo button button-energized" ng-click="Utils.goToMaps(reservationEnCours.spot.lat, reservationEnCours.spot.lng)">
				<i class="icon ion-ios-navigate-outline"></i> J'y vais
			</button>
		</div>
	</div>
</ion-modal-view>