<ion-modal-view class="login-view">
	<ion-nav-bar align-title="center">
		<ion-nav-back-button class="padding-left-10"></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content has-header="true" padding="true" scroll="false" class="loginView">
		<div class="loginLogoContainer"  style="margin:10% auto;">
			<img src="img/logo/logo_complet.png" class="loginLogo" style="width:auto;max-width:50%;" />
		</div>
		<div class="list login-form">
			<p class="text-center">Veuillez saisir votre adresse email. Celle-ci sera votre identifiant dans le système Parkly.</p>
			<label class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="email" ng-model="profileInfo.email" placeholder="Email">
			</label>
		</div>
		<button class="button button-block button-energized loginButton"
		        ng-click="fbLoginFinalize()"
		        ng-disabled="buttonDisabled()"
		>
			Valider
		</button>
	</ion-content>
</ion-modal-view>