<ion-view view-title="Réinitialiser le mot de passe" class="login-view">
	<ion-nav-bar align-title="center">
		<ion-nav-back-button class="padding-left-10"></ion-nav-back-button>
	</ion-nav-bar>

    <ion-content has-header="true" padding="true" scroll="true" class="loginView">
        <div class="loginLogoContainer"  style="margin:10% auto;">
            <img src="img/logo/logo_complet.png" class="loginLogo" style="width:auto;max-width:50%;" />
        </div>
        <div class="list login-form">
	        <p class="text-center">Veuillez saisir votre adresse. Un email vous sera envoyé pour vous permettre de redéfinir votre mot de passe.</p>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="loginData.email" placeholder="Email">
            </label>
        </div>
        <button class="button button-block button-energized loginButton"
                ng-click="reinitPassword()"
		        ng-disabled="buttonDisabled()"
		        >
	        Réinitialiser le mot de passe
        </button>
	    <div class="row">
		    <div class="col col-33 text-left">
			    <a ng-click="showRegister()" ng-if="context == 'login'">Inscription</a>
			    <a ng-click="showLogin()" ng-if="context == 'register'">Connexion</a>
		    </div>
		    <div class="col col-66 text-right">
			    <a ng-if="context == 'login'">Mot de passe oublié</a>
		    </div>
	    </div>
    </ion-content>
</ion-view>
