<ion-view hide-nav-bar="false" view-title="Enregistrer un véhicule" class="user-car-view header-background">

	<ion-nav-bar class="nav-title-slide-ios7 depth z1" style="background:transparent;height:56px;">
		<ion-nav-back-button class="padding-left-10 button-dark padding-top-5">
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-title style="height:56px;line-height:56px;">Mon véhicule</ion-nav-title>

	<ion-content has-header="true" overflow-scroll="false" scrollbar-y="false" padding="true" style="background:transparent;top:56px;">

		<div class="margin-bottom-50 margin-top-50 text-center">
			<i class="icon ion-model-s" style="font-size: 10rem;"></i>
		</div>
		<ion-list>
			<label class="item item-input item-select margin-bottom-20" style="background: transparent;" for="marques">
				<div class="input-label">
					Marque
				</div>
				<ion-spinner icon="spiral" ng-show="marquesLoading"></ion-spinner>
				<select id="marques" ng-options="marque.make_id as marque.make_display for marque in marques"
				        ng-model="voiture.marque"
				        ng-change="marqueChanged()"
				        ng-disabled="!marqueActive"
				        style="background: transparent;">
				</select>
			</label>
			<label class="item item-input item-select margin-bottom-20" style="background: transparent;" for="modeles">
				<div class="input-label">
					Modèle
				</div>
				<ion-spinner icon="spiral" ng-show="modelesLoading"></ion-spinner>
				<select id="modeles" ng-options="modele.model_name as modele.model_name for modele in modeles"
				        ng-model="voiture.modele"
				        ng-change="modeleChanged()"
				        ng-disabled="!modeleActive"
				        style="background: transparent;">
				</select>
			</label>
			<label class="item item-input item-select margin-bottom-20" style="background: transparent;">
				<div class="input-label">
					Couleur
				</div>
				<select ng-options="couleur.color_id as couleur.color_name for couleur in couleurs"
				        ng-model="voiture.couleur"
				        ng-change="couleurChanged()"
				        ng-disabled="!couleurActive"
				        style="background: transparent;">
				</select>
			</label>
		</ion-list>
		<button ng-disabled="!isValiderActive()" ng-click="valider()" class="button button-block button-energized">
			Enregistrer
		</button>
	</ion-content>
</ion-view>
