<ion-view class="login-view">
	<ion-nav-bar class="nav-title-slide-ios7">
	</ion-nav-bar>
    <ion-content has-header="true" padding="true" scroll="true" class="loginView">
        <div class="loginLogoContainer">
            <img src="img/logo/Logo_appli_blanc.png" class="loginLogo" />
            <img src="img/logo/Logo_appli_texte.png" class="loginLogoText"/>
        </div>


	    <button class="button button-block button-light loginButton border-radius-1 text-center" ng-click="facebookSignIn()"
	            style="color: #fff;
					    background-color: #3b5998;
					    background-image: url(img/social/facebook_48.png);
					    background-size: 30px 30px;
					    background-position: 10px center;
					    background-repeat: no-repeat;
					    margin: 10px auto !important;">
		    Facebook
	    </button>

	    <button class="button button-block button-light loginButton border-radius-1 text-center" ng-click="googleSignIn()"
	            style="color: #000;
					    background-color: #ffffff;
					    background-image: url(img/social/google_48.png);
					    background-size: 30px 30px;
					    background-position: 10px center;
					    background-repeat: no-repeat;
					    margin: 10px auto !important;">
		    Google
	    </button>

	    <div class="section-title">OU PAR EMAIL</div>

	    <div class="row padding-0">
		    <div class="col col-50 padding-0 padding-right-5">
			    <button class="button button-block button-outline button-light loginButton" ng-click="goToRegister()"
					    style="margin: 10px auto !important;border-radius: 1px;">
				    Inscription
			    </button>
		    </div>
		    <div class="col col-50 padding-0 padding-left-5">
			    <button class="button button-block button-outline button-light loginButton" ng-click="goToLogin()"
			            style="margin: 10px auto !important;border-radius: 1px;">
				    Connexion
			    </button>
		    </div>
	    </div>
    </ion-content>
</ion-view>
