.je-cherche-view ion-content {
  background: transparent;
}
.je-cherche-view ion-content.je-cherche-list-content{
  background: $background;
  background-size: cover;
}

.button-bar.button-pill {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: 30px;
  width: 70%;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.button-bar.button-pill .button{
  min-height: 35px;
  line-height: 35px;
}

.button-bar.button-pill .button:first-child {
  -webkit-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
}

.button-bar.button-pill .button:last-child {
  -webkit-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
}

.button-bar.button-pill .button:not(.active) {
  background: #4d4d4d;
}

.item-parking-gratuit{
  border-top: 4px solid $positive !important;
}
.item-parking-payant{
  border-top: 4px solid $main-color !important;
}

.card.no-results{
  top: 25%;
  position: absolute;
  width: 95%;
  background: transparent !important;
  color: #949494;
  box-shadow: 0 0;
}
.card.no-results *{
  background: transparent;
  color: inherit;
}

.spinner-recherche-adresse{
  position: absolute;
  right: 20px;
}
.spinner-recherche-adresse.spinner svg {
  width: 20px;
  height: 20px;
}

.je-cherche-view .je-reserve-button:disabled{
  opacity: .7 !important;
}

.rzslider .rz-pointer.rz-active:after {
  background-color: #c14407 !important;
}