.modal-backdrop-bg {
	opacity: 0.8 !important;
	background-color: #000;
}

ion-modal-view.modal.modal-popup {
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #E2E1E1;
	min-height: 0;
	//max-height: 450px;
	color: #000;
	border-radius: 10px;
	height: auto;
	padding-top: 20px;

	ion-content {
		top: 0;
		position: relative;
	}
	.modal-title {
		font-size: 1.2rem;
	}
	.modal-avatar{
		width: 90px;
		height: 90px;
		border: 3px solid #f1611a;
		border-radius: 50%;
		margin: auto;
	}
	.modal-username{
		font-size: 1.2rem;
	}
	.modal-ion-ratings{
		display:inline-block;
	}
	.modal-separator{
		border-top: 1px solid #f1611a;
	}
	.modal-car-title{
		font-weight: 100;
	}
	.modal-car-name{
		font-weight: 100;
		font-size: 2em;
		line-height: 3rem;
	}
	.buttonOne{
		margin: 20px 0 0;
		height: 70px;
		font-size: 1.6rem;
		font-weight: 100;
		letter-spacing: 2px;
		border-radius: 0;
	}
	.buttonTwo{
		margin: 20px 0 0;
		height: 70px;
		font-size: 1.6rem;
		font-weight: 100;
		letter-spacing: 2px;
		border-radius: 0;
		width:100%;
	}
	.modalTwoButtons{
		padding:0;
		.col{
			padding:0;
		}
	}
}

.modal-notation .ionic_ratings .icon {
	font-size: 3rem;
}