<ion-view hide-nav-bar="false" class="profile-view header-background">
	<ion-header-bar align-title="left" class="bar-energized depth z1" align-title="left">
		<div class="buttons">
			<button class="button button-icon icon ion-android-menu button-energized" style="color:#f1611a;" ng-click="toggleMenu()"></button>
		</div>
		<h1 class="title">Mon profil</h1>
	</ion-header-bar>
	<ion-content has-header="true" delegate-handle="userDetailContent" overflow-scroll="false" scrollbar-y="false" on-scroll="onUserDetailContentScroll()" header-shrink scroll-event-interval="5" padding="false" style="background:transparent;">
		<div class="profile-header">
			<div class="about-header">
				<div class="row">
					<div class="col col-33"></div>
					<div class="col col-33 text-center" style="position: relative;">
						<div ng-style="{'background-image': 'url('+(currentUser.avatar | avatar)+')', 'background-size':'cover', 'background-position': 'center center'}" ng-click="showPhotoChangeActionsheet()" class="profile-avatar" >
							<i class="icon ion-ios-camera" style="position: absolute;bottom: 5px;right: 5px;font-size: 2rem;color: #d8d8d8;z-index: 10;"></i>
							<div ng-if="uploading" style="background: rgba(0,0,0,.5);position: absolute;top: 0;bottom: 0;left: 0;right: 0;border-radius: 50%;">
								<span style="top: 50%;position: absolute;left: 50%;transform: translate(-50%,-50%);color: #fff;font-size: 1.3rem;">{{uploadPercentage}}%<span>
							</div>
							<div ng-if="uploading"
									round-progress
									max="100"
									current="uploadPercentage"
									color="#f1611a"
									bgcolor="#eaeaea"
                                    clockwise="true"
									radius="60"
									stroke="10"
									responsive="true"
									duration="500"
									animation="easeInOutQuart"
									animation-delay="0">
							</div>
						</div>
					</div>
					<div class="col col-33"></div>
				</div>
				<div class="row">
					<div class="col col-center text-center text-light" style="font-size:1.5rem;font-weight:100;">
						<div>{{currentUser.first_name}} {{currentUser.last_name}} <span style="font-size:0.6em;">({{currentUser.street_nb_etoiles}})</span></div>
						<div style=" margin-top: 10px;">
							<ionic-ratings ratingsobj="userRating" style="display:inline-block;"></ionic-ratings>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="row text-light text-center" style="width:96%;margin:0px auto;border-top: 1px solid rgba(255,255,255,0.5);">
			<div class="col col-50" style="border-right: 1px solid rgba(255,255,255,0.5);">
				<div style="font-weight: 100;">Réservations reçues</div>
				<div style="font-weight:bold;font-size:1.5em;">12</div>
			</div>
			<div class="col col-50">
				<div style="font-weight: 100;">Réservations envoyées</div>
				<div style="font-weight:bold;font-size:1.5em;" >0</div>
			</div>
		</div>-->
		<ion-list>
			<p class="text-center">Membre depuis {{currentUser.created_at | monthYearFromDate}}</p>
			<ion-item class="item-divider">
				<h2 style="color: #2d2d2d;font-size: 1.1em;">Profil</h2>
			</ion-item>

			<ion-item ng-click="editName()">
				Nom
				<span class="item-note text-colored">
					{{currentUser.first_name}} {{currentUser.last_name}}
				</span>
				<!--<i class="icon ion-edit" ng-click="editName()"></i>-->
			</ion-item>

			<ion-item>
				Nom affiché
				<span class="item-note">
					{{currentUser.display_name}}
				</span>
				<!--<i class="icon ion-edit" ng-click="editName()"></i>-->
			</ion-item>

			<label class="item item-input item-select" for="civilite">
				<div class="input-label">
					Civilité
				</div>
				<span class="item-note">
					<select id="civilite" ng-model="currentUser.sex" ng-change="profileChanged()">
						<option value=""></option>
						<option value="f">Mme.</option>
						<option value="m">M.</option>
					</select>
				</span>
			</label>

			<label class="item item-input item-select" for="birthYear">
				<div class="input-label">
					Année de naissance
				</div>
				<span class="item-note">
					<select id="birthYear" ng-options="item as item for item in yearArray" ng-model="currentUser.birth" ng-change="profileChanged()">
						<option value=""></option>
					</select>
				</span>
			</label>


			<ion-item>
				Email
				<span class="item-note">
					{{currentUser.email}}
				</span>
			</ion-item>

			<ion-item class="item-divider">
				<h2 style="color: #2d2d2d;font-size: 1.1em;">Voiture</h2>
			</ion-item>

			<ion-item ng-click="goToAddCar()">
				{{currentUser.voitures[0].marque | uppercase}} {{currentUser.voitures[0].modele}}
				<span class="item-note">
					{{currentUser.voitures[0].couleur | formatColor}}
				</span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
