.map-marker .tooltip-layout {
  position: relative;
  top: -10px;
  left: -10px;
  color: #fff;
  padding: 0 5px;
  z-index: auto;
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  display: block;
  border-radius: 2px;
  white-space: nowrap;
}
.map-marker .tooltip-energized {
  background-color: $main-color;
}
.map-marker .tooltip-green {
  background-color: $positive;
}


.map-marker .tooltip-bottom-middle:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: auto;
  border: 10px solid transparent;
  border-bottom: 0;
  bottom: -10px;
  margin-left: -10px;
  border-width: 10px;
  border-top-color: rgba(0,0,0,0.1);
}

.map-marker sup {
  top: -0.2em;
}

.map-marker .tooltip-bottom-middle:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: auto;
  border: 9px solid transparent;
  border-bottom: 0;
  border-top-color: #fff;
  bottom: -9px;
  margin-left: -9px;
  border-width: 9px;
}
.map-marker .tooltip-energized:after {
  border-top-color: $main-color;
}
.map-marker .tooltip-green:after {
  border-top-color: $positive;
}