.select-wheel > ion-scroll {
  height: 150px;
}

select-wheel {
  position: relative;
}

.select-wheel-item {
  height: 50px;
  padding: 10px;
  text-align: center;
  display: block;
}

.select-wheel-item > * {
  color: #aaa;
}

.select-wheel-item .active {
  color: inherit;
}

.select-wheel {
  position: relative;
}

.select-wheel-sel {
  z-index: 1;
  position: absolute;
  top: 50px;
  height: 50px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  border-top: 1px solid #3232d4;
  border-bottom: 1px solid #3232d4;
}