<ion-modal-view class="modal-popup">
	<ion-content has-header="false" padding="false" scroll="false">
		<div class="row">
			<div class="modal-title col text-center">Demande d'échange reçue</div>
		</div>
		<div class="row">
			<div class="col col-33 col-offset-33">
				<div class="modal-avatar" ng-style="{'background-image' : 'url('+(notification.user.avatar | avatar)+')', 'background-size':'cover', 'background-position': 'center center'}"></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="modal-username col text-center">
						{{notification.user.display_name}}
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<ionic-ratings ratingsobj="notification.userRating" class="modal-ion-ratings"></ionic-ratings> {{notification.user.street_nb_etoiles}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="modal-separator col col-60 col-offset-20"></div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="modal-car-title">Voiture</div>
				<div class="modal-car-name">{{notification.user.voitures[0].marque | uppercase}} {{notification.user.voitures[0].modele}}</div>
				<div>{{notification.user.voitures[0].couleur | formatColor}}</div>
			</div>
		</div>
	</ion-content>
	<button class="buttonOne button button-block button-energized" ng-click="modalDemande.hide()">
		OK
	</button>
</ion-modal-view>