<ion-view class="parameters-view">
	<ion-header-bar align-title="left" class="bar-dark depth z1" align-title="left">
		<div class="buttons">
			<button class="button button-icon icon ion-android-arrow-back button-energized" style="color:#f1611a;" ng-click="Utils.goBack()"></button>
		</div>
		<h1 class="title">A propos</h1>
	</ion-header-bar>
  <ion-content has-header="true">
	  <ion-list>
		  <ion-item ng-click="browse('http://www.parkly.fr/how-it-works?hide_nav=true', 'Comment ça marche?')">
			  Comment ça marche
		  </ion-item>
		  <ion-item ng-click="browse('http://www.parkly.fr/terms-of-use?hide_nav=true', 'Conditions générales')">
			  Conditions générales
		  </ion-item>
		  <ion-item ng-click="browse('http://www.parkly.fr/privacy?hide_nav=true', 'Politique de confidentialité')">
			  Politique de confidentialité
		  </ion-item>
		  <ion-item>
			  Version
			  <span class="item-note">
				  {{appVersion}}
			  </span>
		  </ion-item>
	  </ion-list>
  </ion-content>
</ion-view>
