<ion-view class="parameters-view">
	<ion-header-bar align-title="left" class="bar-dark depth z1" align-title="left">
		<div class="buttons">
			<button class="button button-icon icon ion-android-arrow-back button-energized" style="color:#f1611a;" ng-click="Utils.goBack()"></button>
		</div>
		<h1 class="title">Commentaire</h1>
	</ion-header-bar>
  <ion-content padding="true" has-header="true" ng-hide="sendStatus.type == 'success'">
	  <h4>Envoyer un commentaire</h4>
	  <h5>Faites-nous part de vos remarques sur l'application</h5>

	  <textarea ng-model="data.userComment" style="width:95%; height:50%; margin: auto;padding: 5px;" placeholder="Votre commentaire..."></textarea>

	  <div class="row">
		  <div class="col col-center">
			  <button ng-disabled="data.userComment.length < 5" ng-click="sendMessage()" class="button button-block button-energized">Envoyer</button>
		  </div>
	  </div>
  </ion-content>


	<ion-content padding="true" has-header="true" ng-show="sendStatus.type == 'success'">
		<div style="height: 100%;display: flex;align-items: center;text-align: center;">
			<div style="display: block;width: 100%;">
				<i class="icon ion-android-checkmark-circle" ng-class="sendStatus.type == 'success' && 'ion-android-checkmark-circle' || 'ion-android-cancel'" style="font-size: 5rem;"></i>
				<h3>{{sendStatus.message}}</h3>
				<button class="button button-energized" ng-click="Utils.goBack()">
					Retour
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
