<ion-view hide-nav-bar="false" class="notifications-view header-background">
	<ion-header-bar align-title="left" class="bar-dark depth z1">
		<div class="buttons">
			<button class="button button-icon icon ion-android-menu button-energized" style="color:#f1611a;" ng-click="toggleMenu()"></button>
		</div>
	</ion-header-bar>
	<ion-content has-header="true" padding="true" scrollbar-y="false">
		<ion-refresher
				pulling-text=""
				pulling-icon="ion-android-refresh"
				spinner="dots"
				on-refresh="refreshNotifications()">
		</ion-refresher>

		<h3>Historique des demandes reçues</h3>

		<div class="text-center">
			<ion-spinner icon="dots" class="spinner-energized spinner-dots-loading" ng-hide="demandesLoaded"></ion-spinner>
		</div>

		<div class="card" ng-if="demandes.length <= 0">
			<h4 class="text-center text-dark">Rien à afficher</h4>
			<div class="item item-text-wrap text-center" style="font-size: 1em;border:0;">
				Lorsque vous commencerez à échanger vos places de parking, votre historique de places proposées s'affichera ici.
			</div>
			<p class="padding-top-10 text-center">
				<button class="button button-energized" ng-click="goToHome()" style="font-size: 1em;">Commencez à chercher</button>
			</p>
		</div>

		<div class="list card" ng-repeat="demande in demandes track by $index" ng-if="demande.spot">
			<div class="item item-divider">
				{{demande.created_at | dateTimeFromDate}}
			</div>
			<div class="item item-avatar padding-bottom-0">
				<div ng-style="{'background-image' : 'url('+(demande.demander.avatar | avatar)+')', 'background-size':'cover', 'background-position': 'center center'}" style="position: absolute;top: 16px;left: 16px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;"></div>
				<h2>{{demande.demander.display_name}}</h2>
				<p><ionic-ratings ratingsobj="demande.userRating" style="display:inline-block;"></ionic-ratings> ({{demande.demander.street_nb_notes}})</p>
			</div>
			<div class="item item-body padding-top-0 border-0">
				<p class="margin-0">
					{{demande.spot.adresse}}
				</p>
				<p>
					<a href="#" class="subdued" style="font-size: 0.8rem;">{{demande.parker_has_noted ? 'Evaluation envoyée':'Evaluation non envoyée'}}</a>
					<a href="#" class="subdued" style="font-size: 0.8rem;">{{demande.demander_has_noted ? 'Evaluation reçue':'Evaluation non reçue'}}</a>
				</p>
			</div>
			<a class="item item-icon-left energized" href="#" ng-click="showNotationModal($index)" ng-if="!demande.parker_has_noted">
				<i class="icon ion-star"></i>
				Noter
			</a>
		</div>
	</ion-content>
</ion-view>
